@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:ital@1&family=Space+Mono:wght@700&display=swap");

body {
  font-family: "poppins", sans-serif;
  font-weight: 0px;
}
.navbar {
  width: 100%;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: #000;
}

nav li {
  padding-right: 50px;
  font-size: 50px;
  cursor: pointer;
  color: black;
}
.navbar .navbar-header {
  color: rgb(9, 9, 9);
  font-size: 26px;
  text-decoration: none;
}

.image-1 {
  margin-top: -12px;
  border-radius: 50%;
}
.fst-container {
  display: flex;
  margin-top: 140px;
  margin-left: 50px;
  width: 300px;
  height: 100px;
  justify-content: space-evenly;
}
.fst-container img {
  border-radius: 50%;
  margin-top: 10px;
}
.first-container {
  display: flex;
  justify-content: space-evenly;
}
.edit {
  display: none;
}
.customer_details {
  font-style: italic;
  width: 330px;
  font-weight: normal;
}
.scnd-container {
  margin-top: -100px;
}
.profile img {
  width: 80px;
  height: 80px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: rgb(56, 92, 65);
  border-radius: 50%;
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
}
.checked {
  color: rgb(53, 49, 141);
}
.personal-container {
  width: 200px;
}
.order-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f9f9f9;
  width: 950px;
  height: 150px;
  box-shadow: 4px 4px 4px 4px rgb(243, 242, 242);
}
.form label {
  color: rgb(16, 16, 16);
  margin-top: 20px;
}
input,
textarea {
  width: 260px;
  height: 35px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: none;
  border-bottom: 1px solid black;
}

.url input {
  width: 20px;
  height: 10px;
}
button {
  margin-top: 20px;
  width: 90px;
  height: 33px;
  background-color: rgb(47, 46, 46);
  color: white;
}
.image {
  margin-top: 10px;
  margin-left: 10px;
}
footer {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 10px;
  background-color: black;
  color: white;
  margin-top: 50px;
  border: 1px solid gray;
}
.flip {
  border-radius: 50%;
}
.sixteen {
  display: flex;
  flex-wrap: wrap;
}
.sixteen div {
  padding: 20px;
}
.seventeen {
  text-align: center;
  margin-top: -12%;
}
.eighteen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.eighteen div {
  padding: 20px;
}
.nineteen {
  text-align: end;
  margin-top: -14%;
  margin-right: 10%;
}
.twenty {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-right: 10%;
}
.twenty div {
  padding: 10px;
}
.twentyone {
  text-align: end;
  margin-top: 50px;
}
.delivery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
}
.deli {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delivery img {
  filter: sepia(100%);
}
.delivery div {
  padding: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.logout {
  margin-top: 10px;
}
.no-order {
  display: none;
  font-size: larger;
  width: 1000px;
  align-items: center;
  margin-top: 150px;
  text-align: center;
}
.no-order button {
  width: 230px;
  height: 50px;
  border-radius: 30px;
  font-size: 22px;
}
/*Desktop*/
@media (min-width: 600px) {
  .navbar .navbar-item {
    position: absolute;
    right: 0;
    top: 5px;
  }
  .navbar .navbar-item ul li {
    display: inline;
    margin-right: 15px;
  }
  .navbar .navbar-item ul li a {
    color: rgb(17, 17, 17);
    text-decoration: none;
    font-size: 25px;
  }
  .navbar .navbar-item ul li a:hover {
    color: rgb(20, 20, 20);
  }
  .navbar-btn {
    display: none;
  }
  .image-2 {
    margin-top: 10px;
  }
}
@media (max-width: 600px) {
  .navbar .navbar-item ul {
    list-style-type: none;
    padding: 0;
  }

  .navbar .navbar-item ul li {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(79, 77, 77, 0.2);
  }
  .navbar .navbar-item ul li a {
    color: rgb(18, 18, 18);
    text-decoration: none;
    font-size: 16px;
  }
  .navbar-btn {
    border: none;
    background: none;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 25px;
    left: 89%;
    cursor: pointer;
  }
  .navbar-btn span {
    display: block;
    width: 30px;
    height: 2px;
    border-top: 1px solid rgb(16, 15, 15);
    background-color: #000;
  }
  .navbar-btn span:not(:last-child) {
    margin-bottom: 5px;
  }
  .hide {
    display: none;
  }
}
