@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:ital@1&family=Space+Mono:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgb(170, 227, 208), rgb(207, 209, 211));
  font-weight: bold;
}
.whole-container {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  margin-right: 10%;
}
.log-1 {
  display: flex;
}
.log-2 {
  display: flex;
}
img {
  border-radius: 50%;
}
.whole {
  margin-top: 50px;
}
h2 {
  font-size: 25px;

  background-color: aqua;
}
button {
  width: 250px;
  height: 50px;
  background-image: linear-gradient(rgb(133, 218, 190), rgb(135, 136, 138));
  font-size: 20px;
  font-weight: bolder;
  border-style: none;
  border-radius: 5px;
}
.btn {
  margin-top: 20px;
  margin-left: 30px;
}
.cons {
  margin-top: 10px;
}
button:hover {
  transform: scale(1.2);
}
a {
  text-decoration: none;
}
