@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:ital@1&family=Space+Mono:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
nav {
  background-color: black;
  color: #818181;
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  cursor: pointer;
}
nav img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 13px;
}
nav h3 {
  margin-left: 20px;
}
.nav_logo {
  display: flex;
  justify-content: space-around;
  color: rgb(216, 211, 211);
}
.nav_logo h2 {
  margin-right: 15px;
}
nav a {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

nav a:hover {
  color: #f1f1f1;
}
#dash {
  color: white;
}
#app {
  margin-left: 10%;
}
.help_div {
  border-top: 1px solid rgb(245, 242, 242);
  margin-top: 100%;
}

.listing-1 {
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 20px;
  text-align: center;
  width: 250px;
  height: 250px;
  margin-top: 20px;
  border-radius: 10px;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.btn button {
  width: 100px;
  height: 40px;
  background-color: black;
  color: aliceblue;
  border-radius: 50px;
  margin-bottom: 50px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-size: 15px;
  margin-bottom: 40px;
}

.edit_btn {
  text-decoration: none;
  margin-left: 20px;
  color: rgb(16, 15, 15);
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
}
.whole-div {
  margin-left: 5%;
}
.first-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.first-container div:not(.icon) {
  padding: 40px;
}
.product {
  background-image: linear-gradient(rgb(87, 83, 86), rgb(18, 17, 17));
  border-radius: 50%;
  color: rgb(246, 238, 238);
  width: 150px;
  height: 150px;
}

.list,
.btn {
  display: flex;
  justify-content: center;
}
.add {
  background-color: black;
}
