@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:ital@1&family=Space+Mono:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.first-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.first-container div:not(.icon) {
  padding: 40px;
}
.product {
  background-image: linear-gradient(rgb(251, 157, 157), rgb(180, 248, 205));
  border-radius: 50%;
  color: rgb(253, 250, 250);
}
.product:hover {
  font-size: 130%;
}
.second-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.second-container div {
  padding: 30px;
}
.second-container button {
  margin-top: 20px;
  /* margin-left: 250px; */
  width: 200px;
  height: 40px;
  background-color: black;
  color: white;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.order-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid black;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product-list button {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
}
.growth {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.growth button {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
}
.image {
  margin-bottom: 30px;
}
button:hover {
  transform: scale(1.2);
}
footer {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 10px;

  background-color: black;
  color: white;
  /* height: 250px; */
  margin-top: -8px;

  border: 1px solid gray;
}
.flip {
  border-radius: 50%;
}
.sixteen {
  display: flex;
  flex-wrap: wrap;
}
.sixteen div {
  padding: 20px;
}
.seventeen {
  text-align: center;
  margin-top: -12%;
}

.eighteen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.eighteen div {
  padding: 20px;
}
.nineteen {
  text-align: end;
  margin-top: -14%;
  margin-right: 10%;
}
.twenty {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-right: 10%;
}
.twenty div {
  padding: 10px;
}
.twentyone {
  text-align: end;
  margin-top: 50px;
}
/* phone size */
@media screen and (max-width: 600px) {
  .lng-img {
    width: 400px;
    height: 150px;
  }

  .fif {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .show {
    margin-right: -1400px;
  }
}
