@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:ital@1&family=Space+Mono:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

input[type="text"] {
  width: 70px;
  margin-top: 40px;
  margin-right: 50px;
  border-radius: 6px;
  font-size: 16px;
  background-image: url("../images/My project-1.png");
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 40px;
  padding: 12px 30px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 200px;
  outline: none;
  font-size: 16px;
  color: #0d0d0d;
  padding-left: 70px;
}

input[type="text"]::placeholder {
  padding: 20px;
  color: #030202;
}
.new_long {
  margin-top: 130px;
}
.total_product {
  text-align: center;
}
