@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:ital@1&family=Space+Mono:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  width: 1450px;
}

nav {
  background-color: rgb(14, 14, 14);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 23px;
  height: 90px;
  font-weight: bold;
  height: 85px;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-around;
}
nav li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(254, 248, 248);
}

a:hover {
  font-size: 150%;
}
.image-1 {
  margin-top: -23px;
  border-radius: 50%;
}
.dr {
  margin-top: 90px;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}
.dr div {
  padding: 30px;
}

.dr-image {
  border-radius: 20px;
}
.analysis-head {
  margin-left: 4%;
}
.analysis-head button {
  height: 50px;
  width: 450px;
  font-size: 20px;
  background-color: rgb(16, 15, 15);
}
.icons:hover {
  transform: scale(1.5);
}
.side-1 {
  display: flex;
  justify-content: space-between;
}
.goose {
  margin-left: 70px;
}
.onion {
  margin-right: 80px;
}
.step-1 {
  text-align: center;
}

.step-2 {
  display: flex;
  justify-content: center;
}
.step-2 div {
  padding: 15px;
}
.icons:hover {
  font-size: 150%;
}
.step-3 {
  display: flex;
  justify-content: space-between;
}
.step-4 {
  text-align: center;
}
.step-5 {
  display: flex;
  justify-content: center;
}
.step-5 div {
  padding: 15px;
}
.step-6 {
  display: flex;
  justify-content: space-between;
}
.fifteen-1 {
  margin-left: 50px;
}
.step-7 button {
  width: 130px;
  height: 50px;
  font-size: 20px;
  margin-left: 45%;
  background-color: rgb(10, 10, 9);
  color: rgb(216, 216, 216);
  border-radius: 10%;
}

footer {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 10px;

  background-color: black;
  color: white;
  height: 250px;
  margin-top: -8px;

  border: 1px solid gray;
}
.flip {
  border-radius: 50%;
}
.sixteen {
  display: flex;
}
.sixteen div {
  padding: 20px;
}
.seventeen {
  text-align: center;
  margin-top: -12%;
}

.eighteen {
  display: flex;
  justify-content: center;
}
.eighteen div {
  padding: 20px;
}
.nineteen {
  text-align: end;
  margin-top: -14%;
  margin-right: 10%;
}
.twenty {
  display: flex;
  justify-content: end;
  margin-right: 10%;
}
.twenty div {
  padding: 10px;
}
.twentyone {
  text-align: end;
  margin-top: 50px;
}
.delivery {
  display: flex;
  justify-content: space-around;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  /* background-color: #9f9d9b; */
}
.delivery img {
  filter: sepia(100%);
}
.delivery div {
  padding: 20px;
}
