@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:ital@1&family=Space+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20%;
}
.navbar {
  width: 100%;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: #000;
}
nav ul {
  margin-top: 20px;
}
nav li {
  padding-right: 50px;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  color: black;
}
.navbar .navbar-header {
  color: rgb(9, 9, 9);
  font-size: 26px;
  text-decoration: none;
}
.box {
  font-size: 27px;
}
.progress-checkout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.progress-step-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.step-check {
  background-color: rgb(243, 98, 127);
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-bottom: 1rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.progress-step-container:nth-of-type(3) .step-check::after {
  display: none;
}
.progress-step-container:nth-of-type(3) .step-check {
  background-image: none;
  background-color: rgb(255, 255, 255);
  border: 2px solid grey;
}

.progress-step-container:nth-of-type(2) .step-check::after {
  background-color: grey;
}

.progress-step-container:nth-of-type(2) .step-check {
  background-image: none;
  background-color: rgb(255, 255, 255);
  border: 2px solid grey;
}

.step-check::after {
  content: "";
  width: 15vw;
  height: 2px;
  background-color: inherit;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(100%) translateY(-50%);
}

.step-title {
  color: grey;
}

.form-container {
  width: 60%;
  margin-top: 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: -10px;
}

.form-title {
  font-size: 36px;
  margin-bottom: 2.5rem;
  font-weight: 500;
  opacity: 0.8;
}

.checkout-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.input-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

label {
  font-size: 16px;
  color: grey;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

input[type="text"]::placeholder {
  font-size: 14px;
  color: #b9b9b9;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-container .input-line {
  width: 48%;
}

input[type="submit"] {
  background-color: rgb(10, 10, 10);
  color: white;
  font-weight: 500;
  font-size: 18px;
  height: 50px;
  padding: 0 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input {
  outline: none;
  box-shadow: 0 0 0.5px 0.5px #070707;
  border-color: rgb(14, 14, 14);
}
input:valid {
  border-color: green;
}
input:invalid {
  border-color: red;
}
input[type="submit"]:hover {
  background-color: rgb(243, 98, 127);
}
.select {
  width: 80%;
  color: grey;
}
a {
  text-decoration: none;
}
/*Desktop*/
@media (min-width: 600px) {
  .navbar .navbar-item {
    position: absolute;
    right: 0;
    top: 5px;
  }
  .navbar .navbar-item ul li {
    display: inline;
    margin-right: 15px;
  }
  .navbar .navbar-item ul li a {
    color: rgb(17, 17, 17);
    text-decoration: none;
    font-size: 25px;
  }
  .navbar .navbar-item ul li a:hover {
    color: rgb(20, 20, 20);
  }
  .navbar-btn {
    display: none;
  }
  .image-2 {
    margin-top: 10px;
  }
}
@media (max-width: 600px) {
  .navbar .navbar-item ul {
    list-style-type: none;
    padding: 0;
  }

  .navbar .navbar-item ul li {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(79, 77, 77, 0.2);
  }
  .navbar .navbar-item ul li a {
    color: rgb(18, 18, 18);
    text-decoration: none;
    font-size: 16px;
  }
  .navbar-btn {
    border: none;
    background: none;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 25px;
    left: 89%;
    cursor: pointer;
  }
  .navbar-btn span {
    display: block;
    width: 30px;
    height: 2px;
    border-top: 1px solid rgb(16, 15, 15);
    background-color: #000;
  }
  .navbar-btn span:not(:last-child) {
    margin-bottom: 5px;
  }
  .hide {
    display: none;
  }
  .lng-img {
    width: 400px;
    height: 250px;
  }

  .fif {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .show {
    margin-right: -1400px;
  }
}
