@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:ital@1&family=Space+Mono:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    rgb(194, 141, 141),
    rgb(153, 216, 227),
    rgb(167, 167, 224)
  );
}

nav {
  display: flex;
  margin-left: 8%;
  font-size: 20px;
}
nav div {
  padding: 20px;
}
.image-1 {
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  font-size: 100%;
  text-transform: uppercase;
}
.whole input:not(.check) {
  width: 250px;
  height: 40px;
  background-color: black;
  color: white;
}
p {
  font-size: 20px;
  font-weight: 900;
}
.check:active {
  top: 15px;
  left: 19px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgb(66, 167, 168);
}
.whole-div-container {
  display: flex;
  justify-content: center;
}
.whole {
  border: 1px solid black;
  border-style: double;
  padding: 2em 1em 2em 4em;
}
.name {
  display: flex;
}
.city {
  display: flex;
}
.city div:not(.city-1) {
  padding: 10px;
}
select {
  width: 250px;
  height: 40px;
  background-color: black;
  color: white;
}
.city-1 {
  margin-left: -11px;
}
.last-name {
  margin-top: 1rem;
  margin-left: 1rem;
}
button {
  width: 250px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
button:hover {
  transform: scale(1.3);
}
.btn {
  margin-left: 23%;
}
