@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:ital@1&family=Space+Mono:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgb(170, 227, 208), rgb(207, 209, 211));
  font-weight: bold;
  cursor: pointer;
}

.full-container {
  display: flex;
  justify-content: center;
}
.icon {
  margin-top: 20%;
  padding-left: 10%;
}
.icn {
  border-radius: 50%;
}
.whole {
  padding: 20%;
}
.whole div {
  padding: 10px;
}
#user {
  display: flex;
}
#user input {
  width: 140px;
  height: 30px;
  background-color: black;
  color: white;
}
#pass {
  display: flex;
}
#pass input {
  width: 140px;
  height: 30px;
  background-color: black;
  color: white;
}
.checkbox {
  display: flex;
}
.forgot h5 {
  margin-left: 30px;
  margin-top: -0.3px;
}
.btn button {
  width: 300px;
  height: 40px;
  background-color: black;
  color: white;
}
button:hover {
  transform: scale(1.2);
}
