@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:ital@1&family=Space+Mono:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgb(133, 218, 190), rgb(135, 136, 138));
  font-weight: bold;
  cursor: pointer;
}

nav {
  display: flex;
  margin-left: 8%;
  font-size: 20px;
}
nav div {
  padding: 20px;
}
.image-1 {
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  font-size: 100%;
  text-transform: uppercase;
}
.whole-1 {
  padding: 30px 10px 20px 30%;
}
.full-container {
  border: 1px solid black;
}
.pay-2 img {
  float: right;
  border-radius: 10px;
  margin-right: 45%;
  margin-top: -7%;
}
.one,
.two,
.three {
  display: flex;
  /* border: 1px solid black; */
}
.one div,
.two div,
.three div {
  padding: 20px;
}
input:active {
  top: 15px;
  left: 19px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgb(66, 167, 168);
}

.complete {
  display: flex;
}
.complete div {
  padding: 10px;
}
.complete button {
  margin-top: 14px;
  width: 250px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-left: 30px;
}
button:hover {
  transform: scale(1.1);
}
