@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:ital@1&family=Space+Mono:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 23px;
  height: 90px;
  font-weight: bold;
  height: 85px;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-around;
}
nav li {
  list-style: none;
}
a:not(.btn-a) {
  text-decoration: none;
  color: rgb(18, 17, 17);
}

a:hover:not(.btn-a) {
  font-size: 150%;
}
.image-1 {
  margin-top: -23px;
  border-radius: 50%;
}
.sample {
  margin-top: 10px;
  text-align: center;
}
.long {
  margin-top: 80px;
}
.product-listing-1 {
  display: flex;
  justify-content: space-around;
  /* width: 1200px; */
  text-align: center;
  font-size: 15px;
  /* background-color: aqua; */
  margin-bottom: 40px;
}
.product-listing-1 img {
  border-radius: 20px;
}
.product-listing-2 {
  display: flex;
  justify-content: space-around;

  text-align: center;
  font-size: 15px;
}
.listing-1 {
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 10px 20px 10px gray;
}
.listing-2 {
  background-color: rgb(5, 5, 5);
  color: white;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 10px 20px 10px gray;
}
.listing-3 {
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 10px 20px 10px gray;
}
.listing-4 {
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 10px 20px 10px gray;
}
.product-listing-2 img {
  border-radius: 20px;
}
.listing-5 {
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 10px 20px 10px gray;
}
.listing-6 {
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 10px 20px 10px gray;
}
.listing-7 {
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 10px 20px 10px gray;
}
button {
  width: 200px;
  height: 50px;
  background-color: rgb(250, 246, 246);
  color: rgb(11, 10, 10);
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
}
.btn button {
  background-color: rgb(8, 8, 8);
  color: rgb(251, 248, 248);
  border-style: none;
}
.btn-a {
  text-decoration: none;
  color: rgb(254, 253, 253);
}
button:hover {
  transform: scale(1.2);
}
.btn {
  padding: 50px;
  margin-left: 37%;
  display: flex;
}
.arrow {
  margin-top: 10px;
  margin-left: -40px;
}
footer {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 10px;

  background-color: black;
  color: white;
  height: 250px;
  margin-top: -8px;

  border: 1px solid gray;
}
.flip {
  border-radius: 50%;
}
.sixteen {
  display: flex;
}
.sixteen div {
  padding: 20px;
}
.seventeen {
  text-align: center;
  margin-top: -12%;
}

.eighteen {
  display: flex;
  justify-content: center;
}
.eighteen div {
  padding: 20px;
}
.nineteen {
  text-align: end;
  margin-top: -14%;
  margin-right: 10%;
}
.twenty {
  display: flex;
  justify-content: end;
  margin-right: 10%;
}
.twenty div {
  padding: 10px;
}
.twentyone {
  text-align: end;
  margin-top: 50px;
}
.delivery {
  display: flex;
  justify-content: space-around;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  /* background-color: #9f9d9b; */
}
.delivery img {
  filter: sepia(100%);
}
.delivery div {
  padding: 20px;
}
