@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:ital@1&family=Space+Mono:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  width: 1440px;
}

nav {
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 23px;
  height: 90px;
  font-weight: bold;

  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-around;
}
nav li {
  list-style: none;
}
a:not(.btn-a) {
  text-decoration: none;
  color: rgb(18, 17, 17);
}

a:hover:not(.btn-a) {
  font-size: 150%;
}
.image-1 {
  margin-top: -23px;
  border-radius: 50%;
}
.images-1 {
  margin-top: 90px;

  margin-left: 20px;
}
.side button:not(.btn) {
  width: 450px;
  height: 40px;
  margin-top: 10px;
  background-color: black;
  color: white;
}
.whole-container {
  overflow: hidden;
}
.quan {
  width: 50px;
  height: 30px;
}
.side {
  float: right;
  margin-top: -35%;
}
.side-1 button {
  background-color: black;
  color: white;
}
.side h3 {
  width: 600px;
}
p {
  width: 800px;
  font-weight: bold;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
}

.delivery {
  display: flex;
  justify-content: space-around;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
}
.delivery img {
  filter: sepia(100%);
}
.delivery div {
  padding: 20px;
}
