@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:ital@1&family=Space+Mono:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgb(170, 227, 208), rgb(207, 209, 211));
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: center;
}
img {
  border-radius: 50%;
}
.first-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

input {
  width: 300px;
  height: 30px;
  margin-left: 25%;
  background-color: black;
  color: white;
}
select {
  width: 300px;
  height: 30px;
  margin-left: 25%;
  background-color: black;
  color: white;
}
h5 {
  margin-left: 25%;
}
button {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
}
button:hover {
  transform: scale(1.3);
}
.buttons {
  margin-left: 50%;
  margin-top: 2%;
}
