body {
  font-size: 25px;
}
.first-container {
  display: flex;
  justify-content: space-evenly;
}
input {
  width: 300px;
  height: 30px;
  margin-left: 25%;
}
select {
  width: 300px;
  height: 30px;
  margin-left: 25%;
}
h5 {
  margin-left: 25%;
}
button {
  width: 100px;
  height: 40px;
}
.buttons {
  margin-left: 50%;
  margin-top: 2%;
}
