nav {
  background-color: black;
  color: #818181;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  overflow-x: hidden;
  padding-top: 20px;
  cursor: pointer;
}
nav h3 {
  margin-left: 20px;
}
.nav_logo {
  display: flex;
  justify-content: space-around;
}
nav img {
  border-radius: 45%;
  width: 50px;
  height: 50px;
}
nav a {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
nav a:hover {
  color: #f1f1f1;
}
nav a:active {
  color: #f1f1f1;
}
.help_div {
  border-top: 1px solid rgb(245, 242, 242);
  margin-top: 100%;
}
#dash {
  color: white;
}
.main {
  margin-left: 15%;
}
.listing-1 {
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 10px 20px 10px gray;
  width: 200px;
}
img {
  width: 100px;
  height: 100px;
}
.btn button {
  width: 100px;
  height: 40px;
  background-color: black;
  color: aliceblue;
  border-radius: 50px;
  margin-bottom: 50px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-size: 15px;
  margin-bottom: 40px;
}
.product-listing-1 img {
  border-radius: 20px;
}
.edit_btn {
  text-decoration: none;
  margin-left: 20px;
  color: rgb(16, 15, 15);
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
}
