@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:ital@1&family=Space+Mono:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgb(170, 227, 208), rgb(207, 209, 211));
  font-weight: bold;
}

nav {
  display: flex;
  margin-left: 8%;
  font-size: 20px;
}
nav div {
  padding: 20px;
}
.image-1 {
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  font-size: 100%;
  text-transform: uppercase;
}
.ship {
  border: 1px solid black;
  padding: 30px;
  display: flex;
  justify-content: center;
}
.first {
  display: flex;
}
.first div {
  padding: 20px;
}
.second {
  display: flex;
}
.second div {
  padding: 20px;
}
.three {
  display: flex;
}
.three div {
  padding: 30px;
}
.pay {
  border: 1px solid black;
  max-width: 300px;
  margin-left: 10%;
}
.online {
  border-top: 1px solid black;
}
.return {
  display: flex;
}
.return div {
  padding: 10px;
}
.continue {
  margin-top: 15px;
}
.continue button {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-left: 35%;
}
button:hover {
  transform: scale(1.2);
}
.check:active {
  top: 15px;
  left: 19px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgb(66, 167, 168);
}
